// OpenWolf - Hoja de Estilos

/*--------------------------------------------*/
/* Colores */
/*--------------------------------------------*/

$nav-light-gray: #FAFAFA;
$nav-border-gray: #CACACA;

/*--------------------------------------------*/
/* Global */
/*--------------------------------------------*/


body {
    padding-top: 40px;
}

/*--------------------------------------------*/
/* Bootstrap */
/*--------------------------------------------*/

.navbar-inner {
    background-color: $nav-light-gray;
}


/*--------------------------------------------*/
/* Barra Navegacion */
/*--------------------------------------------*/




/*--------------------------------------------*/
/* Pagina de inicio */
/*--------------------------------------------*/

.homepage {
    #escudogt {
        height: 300px;
    }

    #nueva-denuncia {
        text-align: center;
        margin-bottom: 2em;

        a {
            font-size: 3em;
        }

    }
}
