/*--------------------------------------------*/
/* Colores */
/*--------------------------------------------*/
/*--------------------------------------------*/
/* Global */
/*--------------------------------------------*/
body {
  padding-top: 40px; }

/*--------------------------------------------*/
/* Bootstrap */
/*--------------------------------------------*/
.navbar-inner {
  background-color: #fafafa; }

/*--------------------------------------------*/
/* Barra Navegacion */
/*--------------------------------------------*/
/*--------------------------------------------*/
/* Pagina de inicio */
/*--------------------------------------------*/
.homepage #escudogt {
  height: 300px; }
.homepage #nueva-denuncia {
  text-align: center;
  margin-bottom: 2em; }
  .homepage #nueva-denuncia a {
    font-size: 3em; }
